li.Tagged{
    text-shadow: 0px 0px 5px rgb(241, 235, 235);
    transition: margin-top 0.3s;
    margin-top: 0.5rem;
    a{
        -webkit-text-stroke: 1px rgb(241, 235, 235);;
        -webkit-text-fill-color:rgb(168, 52, 120);
    }
  }

